.advantages__list {
  width: 210px;
  padding: 0;
  margin: 41px auto 42px;
  list-style: none;
}

.advantages__item {
  margin-bottom: 39px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  color: @black;
}
