.button {
  display: block;
  height: 58px;
  box-sizing: border-box;
  background-color: @light-blue;
  color: @base-color;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  margin: 0 auto;

  &:hover {
    background-color: darken(@light-blue, 10%);
  }

  &:active {
    background-color: darken(@light-blue, 15%);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @white-four;
    color: desaturate(@base-color, 80%);
  }
}
