.hotels {
  text-align: center;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotels__title {
  font-size: 21px;
  font-weight: bold;
  color: @black;
  line-height: 26px;
}

.hotels__text {
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.hotels__text br {
  display: none;
}

.hotels__button {
  display: block;
  width: 280px;
  height: 58px;
  background-color: @light-blue;
  font-size: 21px;
  font-weight: bold;
  color: @base-color;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 17px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @tablet-width) {
  .hotels {
    padding-top: 55px;
  }

  .hotels__wrapper {
    width: 435px;
    margin: 0 auto;
  }

  .hotels__title {
    font-size: 30px;
  }

  .hotels__text {
    font-size: 14px;
    margin-top: 27px;
    margin-bottom: 42px;
  }

  .hotels__text br {
    display: inline-block;
  }

  .hotels__button {
    width: 458px;
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .hotels {
    padding-top: 58px;
  }

  .hotels__button {
    margin-bottom: 66px;
  }

  .hotels__text {
    margin-top: 27px;
    margin-bottom: 47px;
  }
}
