.main-header__wrapper {
  width: 100%;
  height: 56px;
  position: relative;
}

.main-header__logo-img {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -51px;
}

.main-header__nav-toggle {
  width: 25px;
  height: 25px;
  background: transparent;
  border: 0;
  position: absolute;
  top: 23px;
  right: 18px;
}
