.nav__wrapper {
  width: 320px;
  font-size: 18px;
  line-height: 40px;
  color: @base-color;
  background-color: @light-blue;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  border-bottom: 1px solid gray;
  text-align: center;
}

.nav__link {
  color: @base-color;
  text-decoration: none;
  font-weight: bold;
}
