.photos {
  width: 280px;
  margin: auto;
  border-top: 1px solid @gray;
}

.photos__img {
  margin-top: 23px;
}

.photos__title {
  font-size: 14px;
  color: @black;
  margin: 0;
}

.photos__author {
  text-transform: none;
  margin: 0;
}

.photo__likes {
  font-weight: bold;
  color: @black;
}
