.popup {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

}

.popup__text {
  margin-top: 30px;
}

.popup--error {
  height: 280px;
  padding: 46px 57px 35px 56px;
}

.popup--error .popup__title {
  margin-top: 46px;
}

.popup--error .popup__button {
  width: 180px;
  font-size: 18px;
  margin-top: 29px;
}

.popup--sent {
  height: 323px;
  padding-left: 52px;
  padding-right: 54px;
  padding-top: 49px;
}

.popup--sent .popup__button {
  width: 280px;
  margin-top: 20px;
}

.popup__wrapper {
  width: 100%;
  height: 98px;
  background-color: @gray-light;
  border: 1px solid transparent;
}

