.reasons__item {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 26px;
  padding-left: 32px;
  padding-right: 32px;
}

.reasons__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @black;
}

.reasons__text {
  margin: 0;
  line-height: 21px;
}

.reasons__number {
  margin-top: 2px;
}

.reasons__item--light {
  margin-top: 38px;
  margin-bottom: 19px;
  line-height: 26px;
  position: relative;
}

.reasons__item--light .reasons__text {
  margin-top: 24px;
  line-height: 26px;
}

.reasons__triangle {
  position: absolute;
  right: 0;
  bottom: -44px;
}

.reasons--first br,
.reasons--second br {
  display: none;
}

.reasons--first .reasons__item--blue {
  padding-left: 28px;
  padding-right: 27px;
}

.reasons__item--blue {
  background-color: @light-blue;
  color: @base-color;
  padding-top: 66px;
  padding-bottom: 40px;
}

.reasons__item--blue .reasons__title {
  color: @base-color;
}

.reasons__item--bridge {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
}

.reasons__item--gray {
  position: relative;
  background-color: @gray-light;
  padding-top: 30px;
  padding-bottom: 27px;
}

.reasons__item--gray br {
  display: none;
}

.reasons--border::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  height: 1px;
  box-shadow: @shadow-both;
}

.reasons__img {
  height: 260px;
}

@media (min-width: @tablet-width) {
  .reasons {
    display: flex;
  }

  .reasons__item--light .reasons__wrapper {
    width: 490px;
    margin: 0 auto;
  }

  .reasons__item--light {
    margin-top: 50px;
    margin-bottom: 49px;
  }

  .reasons__item--light .reasons__picture {
    width: 100%;
  }

  .reasons__triangle--top {
    top: -107px;
  }

  .reasons__triangle {
    bottom: -40px;
  }

  .reasons__item--blue {
    width: 256px;
    height: 256px;
    padding-top: 45px;
  }

  .reasons--first .reasons__item--blue {
    padding-left: 47px;
    padding-right: 47px;
  }

  .reasons--first,
  .reasons--second {
    height: 256px;
  }

  .reasons--second .reasons__item--blue {
    padding-left: 51px;
    padding-right: 51px;
  }

  .reasons--second br {
    display: inline-block;
  }

  .reasons__item--gray {
    padding-top: 43px;
    padding-bottom: 45px;
    flex-basis: 256px;
    flex-grow: 1;
  }

  .reasons__item--gray br {
    display: inline-block;
  }

  .reasons__number {
    margin-bottom: 20px;
  }

  .reasons__item--gray:first-child {
    padding-left: 49px;
    padding-right: 48px;
  }

  .reasons__item--gray:nth-child(2) {
    padding-left: 61px;
    padding-right: 63px;
  }

  .reasons__item--gray:nth-child(3) {
    padding-left: 56px;
    padding-right: 54px;
  }

  .reasons__title {
    font-size: 21px;
    line-height: 26px;
  }

  .reasons--border::before {
    display: none;
  }

  .img {
    margin: 0;
  }

  .reasons__item--bridge {
    padding-top: 42px;
  }

  .reasons__img--bridge {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .reasons--first br {
    display: inline-block;
  }

  .reasons__item--blue {
    width: 400px;
  }

  .img {
    width: 800px;
    height: 256px;
    object-fit: cover;
  }

  .reasons--first .reasons__item--blue {
    padding: 50px 67px 63px 68px;
  }

  .reasons--second .reasons__item--blue {
    padding: 50px 90px 60px 90px;
  }

  .reasons__item--gray {
    padding-bottom: 62px;
  }

  .reasons--gray:first-child {
    padding-left: 57px;
    padding-right: 58px;
  }

  .reasons--gray:nth-child(2) {
    padding-right: 69px;
  }

  .reasons--gray:last-child {
    padding-right: 55px;
  }

  .reasons__item--gray .reasons__title {
    word-spacing: 200px;
  }
}
