.review {
  padding-left: 23px;
  padding-right: 21px;
}

.review__item {
  border-top: 1px solid @gray;
  border-bottom: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  width: 276px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.review__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: @black;
  text-align: center;
  padding-top: 24px;
}

.review__input {
  box-sizing: border-box;
  height: 58px;
  font-size: 18px;
  font-weight: bold;
  color: @black;
  background-color: @gray-light;
  border: none;
  padding-left: 22px;
}

.review__label-normal {
  padding-bottom: 14px;
}

.review__label-bold {
  font-size: 18px;
  font-weight: bold;
  color: @black;
  text-transform: none;
}

.review__radio {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  outline: none;
  border: 0 none;
}

.review__checkbox {
  width: 46px;
  height: 46px;
}

.review__textarea {
  box-sizing: border-box;
  width: 279px;
  height: 160px;
  font-family: @ff-primary;
  font-size: 18px;
  font-weight: bold;
  background-color: @gray-light;
  border: none;
  padding-top: 22px;
  padding-left: 21px;
  padding-right: 33px;
  resize: none;
}

.review__submit {
  width: 280px;
  font-size: 21px;
}
