.review__item {
  border-top: 1px solid @gray;
  border-bottom: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  justify-content: center;
}

.review__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @black;
  text-align: center;
}

.review__input {
  box-sizing: border-box;
  height: 58px;
  font-family: @ff-primary;
  font-size: 18px;
  font-weight: bold;
  background-color: @gray-light;
  border: none;
  padding-left: 22px;

  &::placeholder {
    color: @black;
  }

  &::-webkit-input-placeholder {
    color: @black;
  }

  &:-ms-input-placeholder {
    color: @black;
  }

  &::-ms-input-placeholder {
    color: @black;
  }

  &::-moz-placeholder {
    color: @black;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: @black;
    opacity: 1;
  }

  &:hover {
    background-color: darken(@gray-light, 10%);
  }

  &:focus {
    background-color: @base-color;
    border: 5px solid @gray-light;
  }
}

/*----- Блок личных данных -----*/
.review__item--intro {
  padding-bottom: 5px;
}

input[name="name"] {
  margin-left: 14px;
  max-width: 230px;
  min-width: 192px;
}

input[name="surname"] {
  margin-left: 13px;
  width: 192px;
}

input[name="patronymic"] {
  margin-left: 16px;
  width: 194px;
}

.review__item--intro .review__title {
  margin-top: 14px;
  margin-bottom: 21px;
}

.review__item--intro .review__label--normal {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/*----- Блок контактов -----*/

.review__item--contacts {
  margin-bottom: 3px;
}

.review__item--contacts .review__title {
  margin-top: 12px;
  margin-bottom: 23px;
}

.review__item--contacts .review__label--normal {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}

.review__item--contacts .review__input {
  margin-top: 10px;
}

.review__label--normal .review__wrapper {
  margin-left: 20px;
}

.review__item--contacts .review__label--normal::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 0;
  z-index: 1;
  width: 58px;
  height: 58px;
  margin: 0;
  background-color: @white-three;
  background-repeat: no-repeat;
  background-position: center;
}

.review__item--contacts .review__label--tel::after {
  background-image: url("../../img/icon-phone.svg");
}

.review__item--contacts .review__label--email::after {
  background-image: url("../../img/icon-mail.svg");
}

/*----- Блок впечатления -----*/
.review__item--impress {
  margin-bottom: 9px;
}

.review__item--impress .review__title {
  margin-bottom: 23px;
}

.review__item--impress .review__label-wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.review__radio {
  z-index: -1;
  opacity: 0;
  width: 50px;
  height: 50px;
}

.review__label--bold {
  font-size: 18px;
  font-weight: bold;
  color: @black;
  text-transform: none;
}

.review__item--impress .review__label--bold {
  max-width: 190px;
  margin-left: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: @white-two;
  }

  &:hover::after {
    background-color: darken(@white-two, 10%);
  }

  &:active::after {
    background-color: darken(@white-two, 20%);
  }
}

.review__radio:disabled ~ .review__label--bold::after {
  background-color: @disabled;
}

.review__radio:focus ~ .review__label--bold::after,
.review__radio:active ~ .review__label--bold::after {
  outline: 1px solid @light-blue;
}

.review__radio:checked + .review__label--bold::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 16.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: @black-two;
}

.review__radio:checked + .review__label--bold:active::before {
  opacity: 0.3;
}

/*----- Блок достопримечательности -----*/
.review__item--sites {
  padding-bottom: 1px;
}

.review__item--sites .review__title {
  margin-top: 10px;
  margin-bottom: 17px;
}

.review__item--sites .review__label-wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.review__item--sites .review__checkbox {
  z-index: -1;
  opacity: 0;
  width: 50px;
  height: 50px;
}

.review__checkbox:disabled ~ .review__label--bold::after {
  background-color: @disabled;
}

.review__checkbox:focus ~ .review__label--bold::after,
.review__checkbox:active ~ .review__label--bold::after {
  outline: 1px solid @light-blue;
}

.review__item--sites .review__label--bold {
  margin-left: 23px;
  max-width: 122px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background-color: @white-two;
    border-radius: 10%;
  }

  &:hover::after {
    background-color: darken(@white-two, 10%);
  }

  &:active::after {
    background-color: darken(@white-two, 20%);
  }
}

.review__checkbox:checked ~ .review__label--bold::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 19px;
  left: 16px;
  width: 23px;
  height: 16px;
  background-image: url("../../img/icon-tick.svg");
}

.review__checkbox:checked ~ .review__label--bold:active::before {
  opacity: 0.3;
}

/*----- Блок отзыв -----*/
.review__items--desc .review__title {
  margin-top: 14px;
  margin-bottom: 17px;
}

.review__textarea {
  box-sizing: border-box;
  width: 279px;
  height: 160px;
  font-family: @ff-primary;
  font-size: 18px;
  font-weight: bold;
  background-color: @gray-light;
  border: none;
  padding-top: 19px;
  padding-left: 21px;
  resize: none;
  overflow: auto;

  &::placeholder {
    color: @black;
  }

  &::-webkit-input-placeholder {
    color: @black;
  }

  &:-ms-input-placeholder {
    color: @black;
  }

  &::-ms-input-placeholder {
    color: @black;
  }

  &::-moz-placeholder {
    color: @black;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: @black;
    opacity: 1;
  }
}

.review__submit {
  font-family: @ff-primary;
  width: 280px;
  font-size: 21px;
  margin: 39px 20px 73px;
}

.review__note {
  display: none;
}

@media (min-width: @tablet-width) {
  .review {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  .review__title {
    font-size: 21px;
    line-height: 26px;
  }

  .review__item--impress,
  .review__item--intro {
    border-top: 0 none;
    padding: 0;
    margin: 0;
  }

  .review__item--impress {
    order: -1;
    margin-right: 105px;
  }

  .review__item--impress .review__title {
    max-width: 272px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .review__item--impress .review__title::after {
    content: "";
    display: inline;
    width: 1px;
    height: 292px;
    background-color: @gray;
    position: absolute;
    left: 50%;
  }

  .review__item--impress .review__label--bold {
    margin-left: 18px;
  }

  .review__item--impress .review__label-wrapper {
    margin-bottom: 23px;
  }

  .review__item--contacts,
  .review__item--sites,
  .review__item--desc {
    flex-basis: 100%;
  }

  .review__item--intro .review__title {
    max-width: 270px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .review__item--intro {
    max-width: 267px;
  }

  input[name="name"] {
    margin-left: 12px;
    padding-top: 15px;
    padding-bottom: 19px;
    max-width: 218px;
    min-width: 179px;
  }

  input[name="surname"] {
    margin-left: 14px;
    padding-top: 15px;
    padding-bottom: 19px;
    width: 178px;
  }

  input[name="patronymic"] {
    margin-left: 17px;
    padding-top: 15px;
    padding-bottom: 19px;
    width: 181px;
  }

  .review__item--contacts {
    margin-top: 61px;
    padding: 0;
  }

  .review__item--contacts .review__label--normal {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .review__item--contacts .review__title {
    margin-bottom: 28px;
  }

  .review__item--contacts .review__title,
  .review__item--sites .review__title,
  .review__item--desc .review__title {
    width: 396px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    background-color: @base-color;
  }

  .review__item--sites {
    margin-top: 75px;
    padding-bottom: 0;
  }

  .review__item--sites .review__title {
    margin-top: -30px;
    margin-bottom: 40px;
  }

  .review__item--sites .review__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
  }

  .review__item--sites .review__label-wrapper {
    margin-bottom: 35px;

    &:nth-child(odd) {
      flex-basis: 56%;
    }
  }

  .review__item--desc {
    margin-top: 45px;
    padding: 0;
  }

  .review__item--desc .review__title {
    margin-bottom: 60px;
  }

  .review__textarea {
    padding-top: 15px;
    width: 100%;
  }

  .review__button {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .review__submit {
    width: 324px;
    height: 58px;
    margin-top: 50px;
    margin-left: 0;
  }

  .review__note {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding-left: 120px;
    padding-right: 120px;
  }

  .review__item--impress {
    flex-basis: 500px;
    margin-left: 4px;
    margin-right: 55px;
  }

  .review__item--impress .review__title {
    max-width: 550px;
    margin-left: -75px;
  }

  .review__item--impress .review__label {
    max-width: 370px;
  }

  .review__item--intro {
    max-width: 400px;
  }

  .review__item--intro .review__title {
    text-align: left;
    margin-left: 0;
  }

  input[name="name"] {
    max-width: 350px;
    min-width: 233px;
    flex-grow: 1;
  }

  input[name="surname"] {
    width: 312px;
  }

  input[name="patronymic"] {
    width: 314px;
  }

  .review__item--contacts {
    padding: 0;
    margin-top: 59px;
  }

  .review__item--contacts .review__title {
    margin-bottom: 40px;
  }

  .review__item--contacts .review__wrapper {
    display: flex;
  }

  .review__item--contacts .review__label--normal {
    flex-direction: row;
    align-items: baseline;

    &::after {
      top: 10px;
    }
  }

  .review__item--contacts .review__input {
    width: 265px;
    margin-left: 15px;
  }

  .review__label--normal .review__wrapper {
    margin-left: 0;
  }

  .review__label--tel {
    width: 400px;
    margin-right: 80px;
  }

  .review__label--tel .review__wrapper {
    max-width: 70px;
  }

  .review__label--email {
    width: 483px;
  }

  .review__label--email .review__wrapper {
    max-width: 147px;
  }

  .review__hidden {
    display: none;
  }

  .review__item--sites {
    padding: 0;
    margin-top: 76px;
  }

  .review__item--sites .review__title {
    margin-top: -28px;
    margin-bottom: 45px;
  }

  .review__item--sites .review__wrapper {
    width: 100%;
  }

  .review__item--sites .review__label-wrapper {
    margin-right: 70px;
  }

  .review__item--sites .review__label-wrapper:nth-child(4) {
    margin-right: 0;
  }

  .review__item--sites .review__label-wrapper:nth-child(odd) {
    flex-basis: auto;
  }

  .review__item--sites .review__label--bold {
    flex-basis: auto;
  }

  .review__item--desc {
    margin-top: 45px;
  }

  .review__button {
    height: 173px;
  }

  .review__submit {
    width: 480px;
  }
}
