.section {
  text-align: center;
}

.section__title {
  color: @black;
  font-size: 18px;
}

.section__text {
  line-height: 24px;
  margin-top: 30px;
}

.section--photo {
  padding: 30px 23px 10px 27px;
}

.section--video {
  padding: 39px 41px 18px 43px;
}

.section--review {
  padding: 30px 21px 0 23px;
}

@media (min-width: @tablet-width) {
  .section--photo {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .section--photo .section__wrapper {
    width: 428px;
    margin: 0 auto;
  }

  .section--review {
    width: 439px;
    padding: 0;
    margin: 75px auto 74px;
  }

  .section__title {
    font-size: 30px;
    line-height: 26px;
  }

  .section__text {
    font-size: 14px;
  }

  .section--video {
    padding: 68px 177px 55px 176px;
  }
}

@media (min-width: @desktop-width) {
  .section--review {
    margin: 108px auto 60px;
  }

  .section--photo {
    padding-top: 70px;
    padding-bottom: 58px;
  }

  .section--video {
    padding-bottom: 80px;
  }
}
