.section {
  text-align: center;
}

.section__title {
  color: @black;
  font-size: 18px;
}

.section__text {
  line-height: 24px;
}

.section--photo {
  padding: 44px 24px 33px 27px;
}

.section--photo .section__text {
  margin-top: 30px;
}

.section--video {
  padding: 39px 41px 40px 43px;
}

.section--video .section__text {
  margin-top: 30px;
}
