.video__img {
  display: block;
  margin: 0 auto;
}

.video__controls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  width: 280px;
  height: 66px;
  background-color: @gray-light;
  position: relative;
}

.video__replay {
  position: absolute;
  top: 22px;
  left: 20px;
  border: 0 none;
  background-color: transparent;
}

.video__icon {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

.video__subtitles {
  position: absolute;
  top: 23px;
  right: 67px;
  border: 0 none;
  background-color: transparent;
}

.video__fullscreen {
  position: absolute;
  top: 23px;
  right: 15px;
  border: 0 none;
  background-color: transparent;
}

.video__block {
  width: 280px;
  height: 45px;
  background-color: rgba(@black, 0.5);
  position: absolute;
  top: -45px;
}

.video__scale {
  width: 235px;
  height: 3px;
  opacity: 0.2;
  background-color: @base-color;
  position: absolute;
  top: -22px;
  left: 22px;
}

.video__slider {
  width: 11px;
  height: 10px;
  background-color: @base-color;
  border-radius: 50%;
  position: absolute;
  top: -27px;
  left: 58px;
}

@media (min-width: @tablet-width) {
  .video__img {
    width: 648px;
  }

  .video__controls {
    width: 648px;
    height: 93px;
    margin-top: -92px;
    margin-bottom: 40px;
    background-color: rgba(@black, 0.5);
    position: relative;
    z-index: 10;
  }

  .video__replay {
    top: 35px;
    left: 30px;
  }

  .video__icon {
    fill: @base-color;
    opacity: 1;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .video__subtitles {
    top: 36px;
    right: 85px;
  }

  .video__fullscreen {
    top: 36px;
    right: 35px;
  }

  .video__block {
    display: none;
  }

  .video__scale {
    width: 389px;
    top: 45px;
    left: 93px;
  }

  .video__slider {
    width: 11px;
    height: 10px;
    top: 41px;
    left: 205px;
  }
}

@media (min-width: @desktop-width) {
  .video__img {
    width: 800px;
  }

  .video__controls {
    width: 800px;
    margin-bottom: 85px;
  }

  .video__scale {
    width: 540px;
  }
}
