.video__img {
  display: block;
  margin: 0 auto;
}

.video__controls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  width: 280px;
  height: 66px;
  background-color: @gray-light;
  position: relative;
}

.video__replay {
  position: absolute;
  top: 22px;
  left: 25px;
  opacity: 0.8;
}

.video__subtitles {
  position: absolute;
  top: 23px;
  right: 74px;
  opacity: 0.8;
}

.video__fullscreen {
  position: absolute;
  top: 23px;
  right: 23px;
  opacity: 0.8;
}

@media (min-width: @tablet-width) {
  .video__controls {
    width: 648px;
    height: 93px;
    margin-top: -93px;
    margin-bottom: 40px;
    background-color: rgba(@black, 0.3);
    position: relative;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .video__controls {
    width: 800px;
    margin-bottom: 85px;
  }
}
