/*----- Цвета -----*/
@base-color: #ffffff;
@light-blue: #81b3d2;
@black: #000000;
@black-two: #333333;
@gray: #7f7f7f;
@gray-light: #eeeeee;

/*----- Типографика -----*/
@ff-primary: "PT Sans", Arial, sans-serif;

/*----- Оформление -----*/
@shadow-outer: 0 1px 0 0 rgba(1, 1, 1, 0.2);
@shadow-inner: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
@shadow-both: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
